<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
</head>

<body>
    <div class="login-page">
        <div class="form">

            <form class="register-form">
                <input type="text" placeholder="Nombre de usuario" />
                <input type="text" placeholder="Correo electrónico" />
                <input type="password" placeholder="Contraseña" />
                <button>Crear</button>

                <br>

                <p class="message">
                    ¿Ya estás registrado?
                    <br>
                    <a href="#">Inicia sesión.</a>
                </p>
            </form>
            
            <form class="login-form">
                <input type="text" placeholder="Nombre de usuario o email" />
                <input type="password" placeholder="Contraseña" />
                <button>Iniciar sesión</button>

                <br>

                <p class="message">
                    ¿No estás registrado? 
                    <br>
                    <a href="#">Crea una cuenta.</a>
                </p>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'main.js')}}"></script>
</body>

</html>